<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="../handle/register.php" method="post">
    <fieldset>
        <legend>Register</legend>
        <label for="un">Username:</label>
        <input id="un" name="un" onchange="check_un()" placeholder="Please input the username that you want to register"
               type="text"><br/>
        <label for="pwd">Password:</label>
        <input id="pwd" name="pwd" placeholder="Please input the password" type="password"><br/>
        <label for="rp_pwd">Repeat Password:</label>
        <input id="rp_pwd" name="pwd" onchange="check_pwd()" placeholder="Please input the password again"
               type="password"><br/>
        <label for="nickname">NickName</label>
        <input id="nickname" name="nickname" placeholder="Please input your nickname" type="text"><br/>
        <input checked id="male" name="gender" type="radio" value="male">
        <label for="male">男</label>
        <input id="female" name="gender" type="radio" value="female">
        <label for="female">女</label><br/>
        <label for="email">E-Mail</label>
        <input id='email' name="email" placeholder="please input your email" type="email"><br/>
        <label for="url">URL</label>
        <input id="url" name="url" placeholder="please input your personal url" type="url"><br/>
        <label for="city">City</label>
        <select id="city" name="city">
            <option value="Beijing">Beijing</option>
            <option value="Shanghai">Shanghai</option>
            <option value="Guangzhou">Guangzhou</option>
            <option value="Shenzhen">Shenzhen</option>
            <option selected value="Shangqiu">Shangqiu</option>
        </select><br/>
        <label>Skills:</label>
        <input checked id="program" name="skill[]" type="checkbox" value="Programs">
        <label for="program">Programs</label>
        <input id="sports" name="skill[]" type="checkbox" value="Sports">
        <label for="sports">Sports</label>
        <input id="food" name="skill[]" type="checkbox" value="Foods">
        <label for="food">Foods</label><br/>
        <label for="description">Introduction</label>
        <textarea id="description" name="description" placeholder="please input your introduction"></textarea>
        <br/>
        <input name="sb" onclick="check_submit()" type="button" value="REGISTER">
    </fieldset>
</form>
<script type="text/javascript">
    function check_un() {
        const un = document.getElementById("un").value;
        if (un.length < 6) {
            alert("The length of username should be at least 6");
            return false;
        }
        return true;
    }

    function check_pwd() {
        const pwd = document.getElementById("pwd").value;
        const rp_pwd = document.getElementById("rp_pwd").value;
        if (pwd.length < 6) {
            alert("The length of password should be at least 6");
            return false;
        }
        if (pwd !== rp_pwd) {
            alert("The two passwords are not the same");
            return false;
        }
        return true;
    }

    function check_submit() {
        if (check_un() && check_pwd()) {
            document.forms[0].submit();
        }
    }
</script>
</body>
</html>